@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");


// Primary
$primary-cyan: hsl(180, 29%, 50%);

// Secondary
$secondary-cyan: hsl(180, 31%, 95%);

// Neutral
$gray: hsl(180, 8%, 52%);
$black: hsl(180, 14%, 20%);

$bg: hsl(180, 52%, 96%);

$default-space: 1.5rem;
$font-size: 15px;

$font-1: "Spartan", sans-serif;
$font-2: "Open Sans";

@mixin no-gutter($lh: 0) {
    margin: 0;
    padding: 0;
    line-height: $lh;
  }

  html {
    box-sizing: border-box;
    font-size: $font-size;
  }
  
  body {
    font-size: inherit;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  button {
    background: white;
    border: none;
  }

  // Layout

@mixin flex-centered($a: 1, $j: 1) {
    display: flex;
    @if ($a==1) {
      align-items: center;
    }
    @if ($j==1) {
      justify-content: center;
    }
  }
  // Working as an alias for flex-centered
  @mixin fc($a: 1, $b: 1) {
    @include flex-centered($a, $b);
  }
  
  
  .body {
    transition: all 1s;
    background: $bg;
    font-family: $font-1;
    min-height: 100vh;
    padding: 6rem 10rem;
  }
  
  .cardList {
    margin-top: 80px;
  }

.header {
    background: $primary-cyan;
    background-size: cover;
    height: 150px;
    width: 100%;
    text-align: center;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }
  

.search-container{
    background-color: $secondary-cyan;
    box-shadow: 0 20px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 800px;
    display: inline-block;
    overflow: visible;
    height: 150px;
    border-radius: 30px; /* 5px rounded corners */
    
    
}  

.instruments{
  display: grid;
  .content{
    display: grid;
    .group{
      display: grid;
    }
  }
}




.card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0.5px 10px 10px rgba($color: $primary-cyan, $alpha: 0.2);
    
    width: fit-content;
    height: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    padding: 1.71rem 2.8rem;
    transition: transform 0.3s;
    transform: scale(0.98);
    // for Firfox only
    @-moz-document url-prefix() {
      transform: scale(1);
    }
    
    &:hover {
      transform: scale(1);
    }

    // show a line
    &.featured {
      &::before {
        background: $primary-cyan;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        width: 5px;
      }
    }
  
    &-header {
      margin-right: 25px;
    }
  
    // -> .heading , .footer , h1
    &-body {
      width: 100%;
      max-width: 20rem;
      .heading {
        display: flex;
        align-items: center;
        font-size: $font-size * 0.9;
        font-weight: 700;
        margin-bottom: 10px;
        .company {
          color: $primary-cyan;
        }
  
        .labels {
          text-transform: uppercase;
          margin-left: 15px;
          font-size: $font-size * 0.8;
          .label {
            // font-size: 0.8rem;
            margin-left: 10px;
            padding: 10px;
            padding-bottom: 7px;
            border-radius: 25px;
            // @include no-gutter;
            color: white;
            background-color: $black;
            &.new {
              background-color: $primary-cyan;
            }
          }
        }
      }
  
      .footer {
        color: $gray;
        font-size: $font-size * 0.95;
        display: flex;
        justify-content: space-between;
        li {
          &:nth-of-type(1) {
            list-style: none;
          }
          width: max-content;
          list-style-type: disc;
          padding-right: 3.5%;
          position: relative;
        }
      }
  
      h1 {
        @include no-gutter(2.5);
        color: $black;
        cursor: pointer;
        font-size: 1.15rem;
        width: max-content;
  
        &:hover {
          color: $primary-cyan;
        }
      }
    }
  
    // -> li
    &-footer {
      display: flex;
      font-size: $font-size * 0.9;
      flex: 1;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-left: 15px;
      li {
        background: $secondary-cyan;
        border-radius: 5px;
        color: $primary-cyan;
        cursor: pointer;
        font-weight: 700;
        margin: {
          right: 15px;
          bottom: 15px;
        }
        padding: 7.5px;
        padding-top: 10px;
        line-height: 1;
  
        &:hover {
          background: $primary-cyan;
          color: white;
        }
      }
    }
}

